/.vs/
/MoteurVulkan/Intermediate
/VulkanLayer/bin
/VulkanLayer/Intermediate
/Renderer/bin
/Renderer/Intermediate
/WindowHandler/bin
/WindowHandler/Intermediate
/Utils/bin
/Utils/Intermediate
/output
!/output/assets
/*.txt
/*.pdf
/*.cap